Dokumenti/XML Seme/obavestenjecir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/obavestenje"
    xmlns:ob="http://www.ftn.uns.ac.rs/obavestenje">

    <xs:simpleType name="SedisteType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NazivType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Obavestenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ob:Organ"/>
                <xs:element name="Datum">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Broj_predmeta" type="xs:string"/>
                <xs:element name="Podnosioc_zahteva" type="ob:TLice"/>
                <xs:element ref="ob:Trazena_informacija"/>
                <xs:element ref="ob:Uvid"/>
                <xs:element ref="ob:Troskovi"/>
                <xs:element ref="ob:Uplata"/>
                <xs:element name="Dostavljeno">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Imenovanom"/>
                            <xs:enumeration value="Arhivi"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="vocab" type="xs:string"/>
            <xs:attribute name="about" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Organ">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Naziv">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="ob:NazivType">
                                <xs:attribute name="property" type="xs:string"> </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sediste">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="ob:SedisteType">
                                <xs:attribute name="property" type="xs:string"> </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Trazena_informacija">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Godina_zahteva">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="-2147483648"/>
                            <xs:totalDigits value="4"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Opis_informacije">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Uvid">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Datum">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Satnica" type="xs:time"/>
                <xs:element name="Satnica_od" type="xs:time"/>
                <xs:element name="Satnica_do" type="xs:time"/>
                <xs:element name="Broj_kancelarije">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="ob:Adresa"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Troskovi">
        <xs:complexType>
            <xs:sequence>
                <xs:element fixed="3.0" name="A4_Cena" type="xs:decimal"/>
                <xs:element fixed="6.0" name="A3_Cena" type="xs:decimal"/>
                <xs:element fixed="35.0" name="CD_Cena" type="xs:decimal"/>
                <xs:element fixed="20.0" name="Disketa_Cena" type="xs:decimal"/>
                <xs:element fixed="40.0" name="DVD_Cena" type="xs:decimal"/>
                <xs:element fixed="150.0" name="Audio_Kaseta_Cena" type="xs:decimal"/>
                <xs:element fixed="300.0" name="Video_Kaseta_Cena" type="xs:decimal"/>
                <xs:element fixed="30.0" name="EDokumenta_Cena" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Uplata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ukupni_troskovi" type="xs:decimal"/>
                <xs:element name="Ziro_racun">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{3}-\d{13}-\d{2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Broj_modela">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="\d{2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Adresa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mesto">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="30"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Postanski_broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="11000"/>
                            <xs:maxInclusive value="40000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Ulica">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="30"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType abstract="true" name="TLice">
        <xs:sequence>
            <xs:element ref="ob:Adresa"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TFizickoLice">
        <xs:complexContent>
            <xs:extension base="ob:TLice">
                <xs:sequence>
                    <xs:element name="Ime">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="ob:ImeType">
                                    <xs:attribute name="property" type="xs:string"> </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Prezime">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="ob:ImeType">
                                    <xs:attribute name="property" type="xs:string"> </xs:attribute>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TPravnoLice">
        <xs:complexContent>
            <xs:extension base="ob:TLice">
                <xs:sequence>
                    <xs:element name="Naziv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="100"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
