Dokumenti/XML Seme/resenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/resenje" xmlns:r="http://www.ftn.uns.ac.rs/resenje">
   
   
   
    <xs:simpleType name="BrResenjaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}-\d{2}-\d{4}/\d{4}-\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

    
    <xs:simpleType name="RazlogResenjaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="protiv resenja"/>
            <xs:enumeration value="zbog nepostupanja"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BrojGlasnikaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]\d*/\d*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TAdresa">
            <xs:sequence>
                <xs:element name="Mesto">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="30"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="1" name="Postanski_broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="11000"/>
                            <xs:maxInclusive value="40000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Ulica" type="xs:string"/>
                <xs:element name="Broj">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    <xs:complexType name="TLice">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="Ime">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="property" type="xs:string"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Prezime">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="property" type="xs:string"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:element name="Naziv">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:element name="Adresa" type="r:TAdresa"/>
        </xs:sequence>
    </xs:complexType>



    <xs:element name="Resenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Odluka_resenja">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Br_resenja">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="r:BrResenjaType">
                                <xs:attribute name="property" type="xs:string">
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Datum_resenja">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="r:Uvod"/>
                <xs:element name="Ishod" type="xs:string"/>
                <xs:element ref="r:Obrazlozenje"/>
                <xs:element ref="r:Poverenik"/>
            </xs:sequence>
            <xs:attribute name="vocab" type="xs:string"/>
            <xs:attribute name="about" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Poverenik">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ime" type="xs:string"/>
                <xs:element name="Prezime" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Uvod">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="r:Poverenik"/>
                <xs:element name="Podnosilac_zalbe">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Ime">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="property" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <!-- <xs:element name="Ime" type="xs:string"/> -->
                            <xs:element name="Prezime">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="property" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <!-- <xs:element name="Prezime" type="xs:string"/> -->
                        </xs:sequence>
                        <xs:attribute name="property" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="Razlog">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="r:RazlogResenjaType">
                            <xs:attribute name="property" type="xs:string">
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Organ_vlasti">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="Organ_vlasti" type="xs:string"/> -->
                <xs:element name="Datum_zahteva">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="Datum_zahteva" type="xs:date"/> -->
                <xs:element ref="r:Osnova_resenja"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Obrazlozenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Datum_zalbe">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="Datum_zalbe" type="xs:date"/> -->
                <xs:element name="Datum_prosledjivanja_zalbe">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="Datum_prosledjivanja_zalbe" type="xs:date"/> -->
                <xs:element maxOccurs="unbounded" name="Razlog">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element maxOccurs="unbounded" name="Razlog" type="xs:string"/> -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Osnova_resenja">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" ref="r:Zakon"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Zakon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Clan" type="xs:positiveInteger"/>
                <xs:element name="Stav" type="xs:positiveInteger"/>
                <xs:element name="Tacka" type="xs:positiveInteger"/>
                <xs:element name="Naziv">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="property" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- <xs:element name="Naziv" type="xs:string"/> -->
                <xs:element name="Broj_glasnika">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="r:BrojGlasnikaType">
                            <xs:attribute name="property" type="xs:string">
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Adresa" type="r:TAdresa"/>
</xs:schema>
